<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/936db2940f.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/main.css" />
    <title>Welcome to labelLokk</title>
  </head>
  <body>
    <section class="contenedorPrincipalFormLogin">
      <div class="ContenedorDelFormulario">
        <form action="/crear" method="POST">
          <div class="acciones">
            <i class="fa-solid fa-circle-half-stroke"></i>
          </div>
          <div class="form-form">
            <input name="usuario" type="text" placeholder="Nombre de usuario" />
            <input name="correo" type="email" placeholder="Gmail" />
            <input name="contraseña" type="password" placeholder="Contraseña" />
            <button>Crear</button>
            <!-- <p>Aun no tienes cuenta ? <a href="/crear">Crea una</a></p> -->
          </div>
          <div class="loginO">
            <a href=""
              >Iniciar con Google
              <img src="/media/googleDark.png" alt="googleIcon"
            /></a>
            <a href=""
              >iniciar con Facebook <img src="/media/faceDark.png" alt=""
            /></a>
          </div>

          <div class="linkCuenta">
            <p>
              Ya tiene cuenta compadre!!?..
              <a href="/">Ingresar</a>
            </p>
          </div>
        </form>
      </div>
    </section>
  </body>
</html>
