<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/936db2940f.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/main.css" />
    <title>Welcome to labelLokk</title>
  </head>
  <body>
    <section class="contenedorPrincipalFormLogin">
      <div class="ContenedorDelFormulario">
        <h1>WELCOME <%= id %></h1>
      </div>
    </section>
  </body>
</html>
